html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}


/*Designing the side-bar button*/
#slide-button {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0px;
    z-index: 200;
    background-color: #262626;
    transition: 1s;
    text-decoration: none;
    cursor: pointer;
}

.slide-button-child,
.slide-button-child-child {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height: 50%;
    background-color: white;
}

.slide-button-child-child {
    background-color: #262626;
}


/*Designing the scrollbar*/
.scrollbar::-webkit-scrollbar {
    width: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}


/*Designing the side-bar*/
.side-bar {
    position: absolute;
    width: 300px;
    height: 100%;
    z-index: 200;
    background-color: #262626;
    padding: 20px;
    transition: 1s;
    left: -300px;
    display: table-cell;
}

.heading {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    color: #F57918;
    font-family: 'Raleway', sans-serif;
}

.tagline {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    width: 100%;
    color: #F5C318;
}

.location-list{
    height: 65%;
    list-style: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    text-align: center;
    font-size: 17px;
    overflow-y: scroll;
    margin-bottom: 20px;
    color: #AADEF5;
}

.location-list li {
    cursor: pointer;
    margin-top: 10px;
}

.footer{
    position: absolute;
    bottom:0;
    color:white;
    font:20px;
    font-family: 'Dancing Script', cursive;
    opacity: 0.8;
}

/*Designing the map*/
#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 100;
}

@media screen and (max-width: 1000px)
{
    .side-bar {
        width: 250px;
        left: -250px;
    }
    #slide-button {
        left: 0px;
    }
}

@media screen and (max-width: 800px)
{
    .location-list {
        font-size: 15px;
    }
}

@media screen and (max-height: 690px)
{
    .location-list {
        height: 55%;
    }
}

@media screen and (max-height: 540px)
{
    .location-list {
        height: 45%;
    }
}

@media screen and (max-height: 440px)
{
    .location-list {
        height: 35%;
    }
}

@media screen and (max-height: 340px)
{
    .location-list {
        height: 25%;
    }
}