
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 25px;
  color: white;
  margin: 5px;
  /*margin-right: 5px;*/
  text-decoration: none;
}

[class*="fontawesome-"]:hover{
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.scrollbar::-webkit-scrollbar
{
    width: 5px;
}
.scrollbar::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.side-bar {
    position: absolute;
    width:300px;
    height:100%;
    z-index: 200;
    background-color: #262626;
    padding:20px;
    transition: 1s;
    left:-300px;
}

.heading{
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    color: #F57918;
    font-family: 'Raleway', sans-serif;
}

.tagline{
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    width: 100%;
    color: #F5C318;
}

.location-list{
    height:65%;
    list-style: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    text-align: center;
    font-size: 17px;
    overflow-y:scroll;
    margin-bottom: 20px;
    color: #AADEF5;
}

.location-list li{
    cursor: pointer;
    margin-top: 10px;
}

#slide-button{
    position: absolute;
    height: 40px;
    width: 40px;
    left:0px;
    z-index: 200;
    background-color: #262626;
    transition: 1s;
    text-decoration: none;
    cursor: pointer;
}

.slider-bar-parent{
    /*left:-300px;*/
}

/*
#slide-button: focus , #slide-button: visited, #slide-button: link, #slide-button: active, #slide-button: hover {
  text-decoration: none;
}*/

#map {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    margin:0;
    z-index: 100;
}

@media screen and (max-width: 1000px)
{
    .side-bar{
        width:25%;
        left:-25%;
    }
    #slide-button{
        left:0px;
    }
}

@media screen and (max-width: 800px)
{

    .side-bar{
        width:250px;
        left:-250px;
    }
    #slide-button{
        left:0px;
    }
    .location-list{
        font-size:15px;
    }
}